<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239967693509-9jr42v8mvlmo4mhc0sv8bq720lka04kh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239967693509-9jr42v8mvlmo4mhc0sv8bq720lka04kh</string>
	<key>API_KEY</key>
	<string>AIzaSyBw-mn2HDWbwkrXZRCHs3gNefk4n1hjWpU</string>
	<key>GCM_SENDER_ID</key>
	<string>239967693509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomClone</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-69b07</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-69b07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239967693509:ios:7cb4ed6ec24e8fe9311eac</string>
</dict>
</plist>